.recipe-card {
    background-color: var(--color-light);
    font-family: Outfit, sans-serif;
    font-size: 1rem;
    width: 47rem;
    padding: 2.5rem;
    margin: 7rem auto;
}

.preparation {
    background-color: var(--color-rose-50);
    padding: 1.5rem;
}

.preparation___title {
    font-weight: var(--weight-bold);
    margin-bottom: 0.75rem;
    color: var(--color-rose-800);
}

.nutrition-facts {
    border-collapse: collapse;
}

.nutrition-facts___info {
    margin-bottom: 0.75rem;
}

.nutrition-facts___row {
    border-bottom: 1px solid var(--color-stone-150);
}

.nutrition-facts___title {
    width: 21rem;
    padding: 0.75rem 0 0.75rem 0.75rem;
}

.nutrition-facts___data {
    width: 21rem;
    padding: 0.75rem 0;
    font-weight: var(--weight-boldest);
}


.list {
    padding-left: 1.5rem;
}

.list-item {
    margin-bottom: 0.5rem;
    padding-left: 1rem;
}

.title--primary {
    font-weight: var(--weight-regular);
    font-family: "Young Serif", serif;
    color: var(--color-stone-900);
    letter-spacing: 0.5px;
    margin-bottom: 1.5rem;
    font-size: 2.5em;
}

.title--secondary {
    font-weight: var(--weight-regular);
    font-family: "Young Serif", serif;
    color: var(--color-brown-800);
    letter-spacing: 0.5px;
    margin-bottom: 1.25rem;
    font-size: 1.75rem;
}

.text--primary{
    color: var(--color-stone-600);
}

.text--secondary {
    color: var(--color-brown-800);
}

.divider {
    border-bottom: 1px solid var(--color-stone-150);
    margin-bottom: 1.75rem;
}

.rounded {
    border-radius: var(--border-radius-20);
}

.section {
    margin-bottom: 1.75rem;
}

.attribution {
    text-align: center;
    font-size: 0.8rem;
    color: var(--color-brown-800);
}

.attribution a {
    color: var(--color-rose-800);
}