.recipe-card {
    background-color: var(--color-light);
    font-family: Outfit, sans-serif;
    font-size: 1rem;
    width: 47rem;
    padding: 2.5rem;
    margin: 7.5rem auto;
    border-radius: var(--border-radius-20);
}

.recipe-img {
    border-radius: var(--border-radius-20);
}

.preparation {
    background-color: var(--color-rose-50);
    padding: 1.5rem;
    border-radius: var(--border-radius-20);
}

.preparation___title {
    font-weight: var(--weight-bold);
    margin-bottom: 0.75rem;
    color: var(--color-rose-800);
}

.nutrition-facts {
    border-collapse: collapse;
}

.nutrition-facts___info {
    margin-bottom: 0.75rem;
}

.nutrition-facts___row {
    border-bottom: 1px solid var(--color-stone-150);
}

.nutrition-facts___title {
    width: 21rem;
    padding: 0.75rem 0 0.75rem 0.75rem;
}

.nutrition-facts___data {
    width: 21rem;
    padding: 0.75rem 0;
    font-weight: var(--weight-boldest);
}

.list {
    padding-left: 1.5rem;
}

.list-item {
    margin-bottom: 0.5rem;
    padding-left: 1rem;
}

.marker--brown::marker { 
    color: var(--color-brown-800);
    font-weight: var(--weight-boldest);
}

.title--primary {
    font-weight: var(--weight-regular);
    font-family: "Young Serif", serif;
    color: var(--color-stone-900);
    letter-spacing: 0.5px;
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
}

.title--secondary {
    font-weight: var(--weight-regular);
    font-family: "Young Serif", serif;
    color: var(--color-brown-800);
    letter-spacing: 0.5px;
    margin-bottom: 1.25rem;
    font-size: 1.75rem;
}

.text--primary{
    color: var(--color-stone-600);
}

.text--secondary {
    color: var(--color-brown-800);
}

.divider {
    border-bottom: 1px solid var(--color-stone-150);
    margin-bottom: 1.75rem;
}

.section {
    margin-bottom: 1.75rem;
}

.attribution {
    text-align: center;
    font-size: 0.8rem;
    color: var(--color-brown-800);
}

.attribution a {
    color: var(--color-rose-800);
}

@media (max-width: 375px) {
    .recipe-card {
        width: auto;
        margin: 0;
        padding: 12rem 2rem 2rem;
        border-radius: 0;
    }

    .recipe-img {
        border-radius: 0;
        position: absolute;
        top: 0;
        left: 0;
    }

    .title--primary {
        font-size: 2rem;
        margin-bottom: 1.25rem;
    }

    .title--secondary {
        margin-bottom: 1rem;
    }

    .section {
        margin-bottom: 1.5rem;
    }

    .divider {
        margin-bottom: 1.5rem;
    }
}