@font-face {
    font-family: "Young Serif";
    src: url(../assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

@font-face {
    font-family: Outfit;
    src: url(../assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

:root {
    /* COLORS */
    --color-light: hsl(0, 0%, 100%);

    --color-stone-100: hsl(30, 54%, 90%);
    --color-stone-150: hsl(30, 18%, 87%);
    --color-stone-600: hsl(30, 10%, 34%);
    --color-stone-900: hsl(24, 5%, 18%);

    --color-brown-800: hsl(14, 45%, 36%);

    --color-rose-50: hsl(330, 100%, 98%);
    --color-rose-800: hsl(332, 51%, 32%);

    /* FONT WEIGHTS */
    --weight-regular: 400;
    --weight-bold: 600;
    --weight-boldest: 700;

    /* SIZES */
    --border-radius-20: 20px;
}

* {
    margin: 0;
    line-height: calc(1em + 0.5rem);
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-stone-100);
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    user-select: none;
}